table , tr , th , td{
    border: 1px black solid;
    text-align: center;
}

th{
    background-color: darkgrey;
}


img{
    height: 100px;
    padding: 10px;
}

a:hover{
    
    background-color: yellow;
    cursor: pointer;
    padding: 5px, 10px;
}

#a1:hover{
    background-color: green;
    cursor: pointer;
    padding: 5px, 10px;
}

a:link,a:visited{
    color:  blue;
}