.fixed{
    position: fixed;
    height: 100px;
    width: 40px;
    top: 64%;
    left: 75%;
    background-color: aqua;
}


#morado{
    height: 50px;
    width: 500px;
    position: relative;
    top: 27px;
    left: 200px;
    background-color: blueviolet;
}

#rosa{
    width: 100%;
    height: 400px;
    background-color: pink;
    position: sticky;
    top: 0px;
}
#amarillo{
    
}