.contenedor{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.d-flex{
    display: flex;
}
.div1{
    background-color: pink;

    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.div2{
    background-color: aqua;

    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; 
}

.div3{
    background-color: coral;

    width: 100px;
    height: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex; 
}
