header{
    background-image: url('img/html5-wallpaper.jpg');
}

.cajaP{
    display: inline-block;
    width: 100%;
    background-color: rgb(58, 58, 58);
}
.menu{
    float: left;
    padding: 15px;
}

a{
    color: white;
    text-decoration: none;
}
.salir{
    float: right;
    background-color: rgb(58, 58, 58);
    padding: 15px;

}