*{
    box-sizing: border-box;
}
.header,
.footer{
    background-color: gray;
    color: white;
    padding: 20px;
}
.divP::after{
    content: " ";
    clear: both;
}
.divP{
    margin-bottom: 25px;
    float: left;
    display: block;
}
 .div1,
.div2,
.div3,
.div4{
    background-color: rgb(14, 164, 233);
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
     
} 
.div6{
    width: 25%;
    margin-bottom: 10px;
}
.div5{
    width: 70%;
    float: right; 
}


