*{
    box-sizing: border-box;
}
.header,
.footer{
    background-color: gray;
    color: white;
    padding: 20px;
}
.divP{
    width: 100%;
}
.div1,
.div2,
.div3,
.div4{
    background-color: rgb(14, 164, 233);
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 25%;   
}
.div5{
    width: 70%;
    float: right; 
}


