*{
    box-sizing: border-box;
}

.div1{

    background-color: aqua;

}
.div2{

    background-color: beige;

}
.div3{

    background-color: coral;

}
.div4{

    background-color: rgba(76, 78, 236, 0.884);
   
}