.contenedor{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.div1{
    background-color: pink;
    width: 100px;
    height: 100px;
    text-align: center;
    
}
.div2{
    background-color: aqua;
    width: 100px;
    height: 100px;
    text-align: center;
}
