#container{
    border: solid black 1px;
    padding: 10px;
}

#cajaIzq{
    border: solid black 1px;
}
#cajaDer{
    border: solid black 1px;
}


#cajaIz{
    border: solid black 1px;
}
#cajaCen{
    border: solid black 1px;
}
#cajaDe{
    border: solid black 1px;
}