*{
    box-sizing: border-box;
}
.divP{
    text-align: center; 
    width: 100%;
}
.divP{
    content: " ";
    clear: both;
    display: flex;
}
.divimg{
    /* float: left; */
    flex-basis: 33.33%;
    padding: 5px;
}
img{
    width: 100%;
}

.footer{
    background-color: grey; 
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .p1{
    text-align: left;
}
.p2{
    text-align: right;
} */

