:root{
    --color-cajasCab:#E5B25D;
    --color-Cab:#F2DD6E;
    --color-barranav:#523A34;
    --color-textonav:#FFF;
}
*{
    box-sizing: border-box;
}


nav{
    background-color: var(--color-barranav);
    display: grid;
    
}
.barra{
    width: 100%;
    display: grid;
    grid-auto-flow: column;

}

.barra *{
    color: var(--color-textonav);
    text-align: center;
    padding: 10px;
}

.barra :hover{
    background-color: var(--color-textonav);
}

.barra *:hover{
    color: var(--color-barranav);
}

.cajaCoral{
    background-color: lightcoral;
    
}

.cajaVerde{
    background-color: lightgreen;
    
}

.cajaAzul{
    background-color: lightblue;
   
}

.cajaGris{
    background-color: lightgray;
    
}

.cajaSalmon{
    background-color: lightsalmon;
   
}

.cajaAmarilla{
    background-color: lightyellow;
    
}






/*MEDIA QUERYS*/
@media only screen and (min-width: 950px) {
    
header{
    display: grid;
    grid-template-areas: 
    "izq . centro . der"
    ". . centro . .";
    background-color: var(--color-Cab);
}

header :nth-child(1){
    grid-area: izq;
    background-color: var(--color-cajasCab);
    justify-self: self-start;
    padding: 10px;
}
header :nth-child(2){
    grid-area: centro;
    background-color: var(--color-Cab);
}
header :nth-child(3){
    grid-area: der;
    background-color: var(--color-cajasCab);
    justify-self: self-end;
    padding: 10px;
}
.barra{
    width: 850px;
}
nav{
    background-color: var(--color-barranav);
    display: grid;
    justify-content: center;
}

main{
    display: grid;
   grid-template-columns: 70% 20%;

}

.zonaCajas{
    display: grid;
    grid-template-areas: 
    'cajaCoral cajaVerde cajaVerde cajaVerde cajaVerde'
    'cajaCoral cajaVerde cajaVerde cajaVerde cajaVerde'
    'CajaCoral . cajaAzul . CajaGris'
    'cajaSalmon . CajaAzul . CajaAmarillo';
}

.cajaCoral{
    grid-area: cajaCoral;
}

.cajaVerde{
    grid-area: cajaVerde;
}

.cajaAzul{
    grid-area: cajaAzul;
}

.cajaGris{
    grid-area: cajaGris;
}

.cajaSalmon{
    grid-area: cajaSalmon;
}

.cajaAmarilla{
    grid-area: cajaAmarillo;
}


.zonaFotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



}

